<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Document</title>
</head>

<body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">BlindVision</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item show">
                        <a href="#object-detection" class="nav-link">Object Detection</a>
                    </li>
                    <li class="nav-item show">
                        <a href="#vqa" class="nav-link">VQA</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Nav Bar Ends -->

    <div class="container">
        
        <div class="row">
            <div class="col-md-8">
                <div class="my-3">
                    <h2>Object Detection</h2>
                </div>
                <div class="row">
                    
                    <div class="col-md-6 btn">
                        <a href="/od-video" class="btn btn-primary">Start Object Detection</a>
                    </div>

                </div>
            </div>
            <div class="col-md-4 my-3">
                <h2>Objects Detected:</h2>
            </div>
        </div>
    </div>


   


    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.js"></script>
    <!-- Scripts End -->
</body>

</html>